* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f00;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10000;
  padding: 30px 100px;
}

header .logo {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

header ul li {
  position: relative;
  margin-left: 40px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.banner .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.5s;
  background-position: center;
}

.banner .imgBx img.active {
  opacity: 1;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 80px;
  height: 10px;
}

.controls li {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.controls li:hover{
  background-color: #ffeb3b;
}

.controls li::before{
  content:'';
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  transform: rotate(45deg);
}

.controls li:nth-child(2):before{
  transform: rotate(-135deg);
}

.contentBx {
  position: absolute;
  bottom: 0;
  max-width: 700px;
}

.contentBx div {
  display: none;
}

.contentBx div.active {
  display: block;
  padding: 30px;
  padding-left: 100px;
  background: rgba(0,0,0,0.2);
}

.contentBx div h2 {
  color: #fff;
  font-size: 2rem;
}

.contentBx div p {
  color: #fff;
  font-size: 1.2rem;
}

.contentBx div a {
  color: #111;
  font-family: 1.1rem;
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
}